# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/

# Data, models, and other large files
/data/
/models/
/raw/
/student/
/teacher_out/
/jetson_documents/
/sd.webui/
/benchmark_output/

# Ignore all weights...
/weights/*

# ...except for the student model and its generated versions
!/weights/student_sr.pth
!/weights/student_sr_1280x960_fp16.engine
!/weights/student_sr_1280x960.onnx

# Logs and other outputs
*.log
denoised.jpg
sr_image.png
output_track.avi
output.avi

# Utility scripts that are not part of the core project
python/benchmark_workers.py
python/create_corresponding_lr_dataset.py
python/rename_processed_images.py
python/create_validation_sets.py
python/delete_validation_files_from_source.py
upscale1.chn
utils/

# Track training logs and plots
!/training_logs/